.interface{
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 780px){
    .interface{
        width: 100%;
    }
}

/* ===========================HEADER=================== */
.header_content{
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: #FFFFFF;

    background: #34e89e;
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);
    background: linear-gradient(to right, #0f3443, #34e89e);
}
.header_content h1{
    font-size: 30px;
}

@media (max-width: 780px){
    .header_content{
        padding: 0 40px;
        height: 80px;
    }
}

@media (max-width: 460px){
    .header_content{
        padding: 0 20px;
        font-size: 16px;
    }
}

/* ========================LIST====================== */

.list_content{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    padding: 20px 40px;
    background: rgb(238, 236, 236);
}
.list_content span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(43, 41, 41);

    margin: 10px 0;
    border-bottom: 1px solid rgb(226, 221, 221);
    padding-bottom: 20px;
}
.list_content span i{
    font-size: 12px;
    color: rgb(126, 123, 123);
}

@media (max-width: 460px){
    .list_content{
        width: 90%;
        padding: 20px 20px;
    }
    .list_content span{
        font-size: 14px;
        margin: 5px 0;
        border-bottom: 1px solid rgb(226, 221, 221);
        padding-bottom: 10px;
    }
    .list_content span p:first-child{
        width: 140px;
        
    }
    .list_content span i{
        font-size: 8px;
    }
}

/* ================================BUTTON=================== */
.button_box{
    margin-top: 80px;
}
.button_box span{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.button_box button:first-child{
    background: rgb(156, 156, 156);
}
.button_box button:first-child:hover{
    background: rgb(122, 120, 120);
}
.button_box button:first-child:active{
    background: rgb(187, 184, 184);
}

.button_box button{
    border: none;
    background: green;
    padding: 10px 40px;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s;
    font-weight: bold;
}

.button_box button:nth-child(2):hover{
    background: rgb(1, 92, 1);
}
.button_box button:nth-child(2):active{
    background: rgb(13, 131, 13);
}

@media (max-width: 460px){
    .button_box{
        margin-top: 50px;
    }
    .button_box span{
        width: 90%;
    }
    .button_box button{
        padding: 10px 30px;
        font-size: 14px;
    }
}