.container {
  position: relative;
}
.interface{
  width: 80%;
  margin: 0 auto;
}
@media (max-width:780px){
  .interface{
    width: 100%;
  }
}
/* ================HEADER====================== */
.header_box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 80px;

  background: #34e89e;
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e);
  background: linear-gradient(to right, #0f3443, #34e89e);

}
.header_box h1:first-child{
  font-size: 20px;
  color: #FFFFFF;
}
.header_box h1:nth-child(2){
  display: none;
}
.cartBtn{
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartBtn p{
  position: absolute;
  padding: 4px;
  background: blue;
  border-radius: 100%;
  font-size: 11px;
  color: crimson;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:460px){
  .header_box{
    height: 80px;
  }
  .header_box h1:first-child{
    display: none;
  }
  .header_box h1:nth-child(2){
    display: flex;
    font-size: 22px;
    color: #FFFFFF;
  }
  .ImageBox{
    width: 30px;
  }
}
@media (max-width:780px){
  .header_box {
    height: 60px;
    padding: 0 20px;
    justify-content: space-between;
  }
  .ImageBox{
    width: 30px;
  }
}



/* ==================CARD BOX===================== */

.card_box {
  height: 350px;
  margin: 0 auto;
  position: relative;
  padding-top: 200px;

  background-image: url(../public/appima.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
/* .card_box:after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 100px solid white;
  border-left: 100% solid transparent;
  border-right: 800px solid transparent;
} */

@media (max-width:415px){
  .card_box{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 200px 0px;
    padding-bottom: 0px;
  }
}
@media (max-width:780px){
  
}

/* ================CARD======================== */
.card{
  position: relative;
  width: 200px;
  height: 260px;
  z-index: 100;
  border-radius: 20px;
  padding: 20px;
  transition: .2s;
  margin: 0 auto;

  background: #3CA55C;
  background: -webkit-linear-gradient(to right, #B5AC49, #3CA55C);
  background: linear-gradient(to right, #B5AC49, #3CA55C);

  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.card:hover{
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.topSide_card{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topSide_card p{
  color: #FFFFFF;
  cursor: pointer;
}

.arrowIcon_box{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(252, 212, 212);
  border-radius:100%;
  cursor: pointer;
}

.centerSide_card{
  margin-top: 50px;
  color: #FFFFFF;

}
.centerSide_card p:first-child{
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}
.centerSide_card p:nth-child(2){
  font-size: 16px;
  margin-bottom: 5px;
}
.centerSide_card p:nth-child(3){
  font-size: 14px;
  margin-bottom: 5px;
}

.card_add_btn_box{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.card_add_btn_box button{
  border: none;
  padding: 6px 40px;
  border-radius: 6px;
  background: green;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.card_add_btn_box button:hover{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.card_add_btn_box button:active{
  background: rgb(1, 102, 1);
}


/* ======================BOTTOM TEXT=================== */
.bottom_text{
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottom_text p{
  margin-top: 10px;
}

@media (max-width:415px){
  .bottom_text{
    margin-top: 160px;
  }
  .bottom_text h1{
    font-size: 20px;
  }
  .bottom_text p{
    margin: 10px 0;
  }
}